.title{
    color: #565657;
    margin-top: 2%;
    text-align: center;
    font-size: 1.5em;
}

.fixture>a{
    color: #565657;
}

.fixture>a:hover{
    color: #008091;
}

hr{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #EFEFEF;
}

.logoTeam{
    vertical-align: middle;
    margin-right: 20px;
}

.player{
    list-style-type: none;
    float: left;
    border:1px solid #EFEFEF;
    margin: 1%;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    width: 31.33%;
    box-shadow: 6px 6px 10px #DFDFDF;
    border: 1px solid #EFEFEF;
    min-height: 290px;
}

.infosPlayer{
    text-align: left;
    padding: 5px;
    width: 66.66%;
    float: left;
    box-sizing: border-box;
    font-size: 0.9em;
}

.left{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding-top: 30px;
}

h3{
    text-align: center;     
}

.maillot{
    width: 100%;
}

.flocage{
    color: white;
    margin-top:-83%;
    float: left;
    width: 100%;
    position: relative;
    font-size: .8em;
}

.numero{
    color: white;
    margin-top:-60%;
    font-size: 1em;
    float: left;
    width: 100%;
    position: relative;
}

.resultats{
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    padding:0 1%;
}

.homeTeams,.awayTeams,.scores{
    float: left;
    width:33.33%;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    padding: 5px 0px;
}

.scores{
    line-height: 2;
    font-weight: bold;
}

.listPlayers{
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding:0 1%;
}

@media(max-width:641px){
    .title{
        font-size: 1em;
    }
    .logoTeam{
        width: 15%;
    }
    .resultats,.player,.listPlayers{
        width: 100%;
    }
}

@media(max-width:991px){
    .player{
        width: 48%;
    }
}
